<<<
#signin
	table(align="center", valign="top", cellpadding="1", cellspacing="1", border="0")
		tr(valign="top")
			td
				form#signin-form-enter(action="index.html", onSubmit="return false;", method="GET")
					table(align="center", valign="top", cellpadding="1", cellspacing="1", border="0")
						tr(valign="top")
							td
								div.signin-header У вас уже есть логин и пароль?
						tr(valign="top")
							td
								div.signin-caption Авторизация
						tr(valign="top")
							td
								div.signin-hint Введите логин и пароль
						tr(valign="top")
							td
								div.signin-input-outer
									input#signin-input-login.signin-input.signin-input-blur.signin-type-enter(
										value="Логин", data-def-value="Логин", 
										type="text", size="30", maxlength="30")
						tr
							td
								div.signin-input-outer
									input#signin-input-preview.signin-input.signin-input-blur.signin-type-enter(
										value="Пароль", data-def-value="Пароль", data-def-type="password", 
										type="password", size="30", maxlength="30")
						tr
							td
								a#signin-button-enter.signin-button(href="#users/signin/enter") Войти
					div.hidden
						input(type="submit")
			td(width="10px")
			td
				form#signin-form-reg(action="index.html", onSubmit="return false;", method="GET")
					table(align="center", valign="top", cellpadding="1", cellspacing="1", border="0")
						tr(valign="top")
							td
								.signin-header Или вы еще не зарегистрировались?
							td(width="20px")
						tr(valign="top")
							td
								.signin-caption Регистрация
						tr(valign="top")
							td
								.signin-hint Персональные данные
							td
						tr(valign="top")
							td
								.signin-input-outer
									input#signin-input-lastname.signin-input.signin-input-blur.signin-type-reg(
										value="Фамилия", data-def-value="Фамилия", data-check-type="lastname", 
										type="text", size="30", maxlength="30")
								
							td
								.signin-form-check.signin-form-check-clear(data-check-type="lastname")
						tr(valign="top")
							td
								.signin-input-outer
									input#signin-input-firstname.signin-input.signin-input-blur.signin-type-reg(
										value="Имя", data-def-value="Имя", data-check-type="firstname", 
										type="text", size="30", maxlength="30")
							td
								.signin-form-check.signin-form-check-clear(data-check-type="firstname")
						tr(valign="top")
							td
								.signin-input-outer
									input#signin-input-patronymic.signin-input.signin-input-blur.signin-type-reg(
										value="Отчество", data-def-value="Отчество", data-check-type="patronymic", 
										type="text", size="30", maxlength="30")
							td
								.signin-form-check.signin-form-check-clear(data-check-type="patronymic")
						tr(valign="top")
							td
								.signin-hint Контактные данные
						tr
							td
								.signin-input-outer
									input#signin-input-email.signin-input.signin-input-blur.signin-type-reg(
										value="E-mail адрес", data-def-value="E-mail адрес", data-check-type="email", 
										type="text", size="30", maxlength="30")
							td
								.signin-form-check.signin-form-check-clear(data-check-type="email")
						tr
							td
								.signin-input-outer
									input#signin-input-phone.signin-input.signin-input-blur.signin-type-reg(
										value="Контактный телефон", data-def-value="Контактный телефон", 
										data-check-type="phone", type="text", size="30", maxlength="30")
							td
								.signin-form-check.signin-form-check-clear(data-check-type="phone")
						tr(valign="top")
							td
								.signin-hint Ваша организация
							td
						tr
							td
								.signin-input-outer
									input#signin-input-company.signin-input.signin-input-blur.signin-type-reg(
										value="Организация", data-def-value="Организация", data-check-type="company", 
										type="text", size="30", maxlength="30")
							td
								.signin-form-check.signin-form-check-clear(data-check-type="company")
						tr
							td
								.signin-input-outer
									input#signin-input-post.signin-input.signin-input-blur.signin-type-reg(
										value="Должность", data-def-value="Должность", data-check-type="post", 
										type="text", size="30", maxlength="30")
							td
								.signin-form-check.signin-form-check-clear(data-check-type="post")
						tr
							td(colspan="2")
								.signin-warning-outer
									table(align="center", valign="top", cellpadding="0", cellspacing="0", border="0")
										tr(valign="top")
											td(width="20px")
												.signin-form-warning.signin-form-warning-error(data-check-type="firstname")
											td
												.signin-warning.signin-warning-firstname(data-check-type="firstname") 
													В поле "Фамилия" ничего не записано
											td(width="21px")
										tr(valign="top")
											td
												.signin-form-warning.signin-form-warning-error(data-check-type="lastname")
											td
												.signin-warning.signin-warning-lastname(data-check-type="lastname") 
													В поле "Имя" ничего не записано
											td
										tr(valign="top")
											td
												.signin-form-warning.signin-form-warning-error(data-check-type="patronymic")
											td
												.signin-warning.signin-warning-patronymic(data-check-type="patronymic")
											td
										tr(valign="top")
											td
												.signin-form-warning.signin-form-warning-error(data-check-type="email")
											td
												.signin-warning.signin-warning-email(data-check-type="email")
											td
										tr(valign="top")
											td
												.signin-form-warning.signin-form-warning-error(data-check-type="phone")
											td
												.signin-warning.signin-warning-phone(data-check-type="phone")
											td
										tr(valign="top")
											td
												.signin-form-warning.signin-form-warning-error(data-check-type="company")
											td
												.signin-warning.signin-warning-company(data-check-type="company")
											td
										tr(valign="top")
											td
												.signin-form-warning.signin-form-warning-error(data-check-type="post")
											td
												.signin-warning.signin-warning-post(data-check-type="post")
											td
						tr
							td
								a#signin-button-reg.signin-button(href="#users/signin/registration) Готово
							td
					div.hide
						input(type="submit")

>>>
